{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<style>
    .intro-section {
        height: 100vh;
        padding-top: 120px;
    }

    @media (max-width: 767px) {
        .intro-section .container2 .txt {
            padding-left: 0 !important;
            margin-top: 0 !important;
        }

        .intro-section .container2 .img {
            display: none;
        }
    }

    @media (min-width: 768px) and (max-width: 1350px) {
        .intro-section .container2 .text-area h1:nth-child(1) {
            font-size: 2rem !important;
        }

    }

    .intro-section .container2 {
        margin-left: auto;
        margin-right: auto;
    }

    .intro-section .container2 .row {
        margin-left: 0;
        margin-right: 0;
    }

    .intro-section .container2 .text-area h1 {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        letter-spacing: 0.04em;
        font-weight: 900;
        color: #140779;
        text-transform: uppercase;
    }

    .intro-section .container2 ul {
        list-style: none;
        margin-top: 20px;
    }


    .intro-section .container2 ul li a {
        color: black;
    }


    .intro-section .container2 .txt {
        margin-top: 0;
    }

    .intro-section .container2 .img {
        margin-top: 70px;
        padding-right: 30px;
        padding-left: 40px;
    }


    .intro-section .container2 .text-area h1:nth-child(1) {
        margin-bottom: 0px;
        font-size: 2.5em;
    }

    .padd {
        padding: 0px 100px;
    }

    .discussion-body {
        padding-left: 4px;
    }

    .form-control {
        font-size: 15px !important;
    }

    .mt-auto {
    }

    .bx-info-circle {
        font-size: 20px !important;
    }

    .header-area {
        height: 55px; background-color: rgb(246, 248, 250); width: 100%; display: flex;
        border: solid 1px #e6e8ec;
        border-radius: 5px 5px 0px 0px;
    }

    .header-area div {
        margin: auto 0 !important;
        
    }

    .discussion-area {
        border: solid 1px #e6e8ec;
        border-bottom: 0;
        height: 60px;
        flex-direction: column;
        display: flex;
        padding: 8px;
    }

    .discussion-area .area {
        margin: auto 0 !important;
    }

    .discussion-area:last-child {
        border-bottom: solid 1px #e6e8ec;
        border-radius: 0px 0px 5px 5px;
    }

    .discussion-area i {
        color: rgb(34, 134, 58);
    }

    .discussion-area:hover {
        background-color: rgb(246, 248, 250);
    }
    
    .discussion-header {
        font-weight: 500;
        position: absolute;
        margin-top: -4px;
        margin-left: 5px;
    }

    .sub {
        font-size: 12px;
        color: rgb(88, 96, 105);
        position: absolute;
        margin-top: 18px;
    }

    .m-extra {
        margin-top: -2px !important;
    }

    .comment {
        color: rgb(88, 96, 105) !important;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        margin-top: -20px;
        right: 10px;
    }

    .link {
        color: black;
    }
</style>
{{/section}}

<section class="intro-section">
    <div class="container2">
        <div class="padd">
            <div class="row align-items-center text center text-md-left">
                <div class="col-md-12 col-lg-12 col-xl-12" style="padding: 0;">
                    <div class="header-area">
                        <div>                       
                            <div style="margin-top: 5px !important;">
                                <i class='bx bx-info-circle ml-3'></i>
                                <span class="text-bold discussion-header m-extra">{{data.length}} Discussões</span>
                            </div>
                        </div>
                    </div>
                    <div class="discussions">
                        {{#each data}}
                            <div class="discussion-area" style="padding-bottom: 15px !important;">
                                <div class="area">                       
                                    <i class='bx bx-info-circle ml-3'></i>
                                    <div class="comment">
                                        <i class='bx bx-comment'></i>
                                        <span>{{this.replies.length}} comentários</span>
                                    </div>
                                    <span class="text-bold discussion-header"><a class="link" href="/client/forum/discussions/{{this._id}}">{{this.title}}</a> <a style="margin-left: 5px;" class="badge badge-warning">{{this.sectionName}}</a></span>
                                    <span class="sub">#{{inc @index}} no dia {{this.fdate}}</span>
                                </div>
                            </div> 
                        {{/each}} 
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{{#section 'jquery'}}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#dataTable');
        table = table.DataTable({
            responsive: true,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            "bAutoWidth": false,
            language: {
                'paginate': {
                    'previous': 'Anterior',
                    'next': 'Próxima',
                },
                'processing': 'Processando...',
                'loadingRecords': 'Carregando...',
                'info': 'Mostrando página _PAGE_ de _PAGES_',
                'zeroRecords': 'Nenhuma discussão encontrada. Aproveite para começar uma <a target="_blank" href="/client/forum/nova-discussao">agora.</a>',
                'lengthMenu': 'Mostrando _MENU_ registros por página',
                'infoEmpty': 'Nenhum registro disponível',
                'infoFiltered': '(filtrado de um total de _MAX_ registros)',
                'search': 'Buscar'
            },
        });
    });
</script>
{{/section}}